* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  display: flex;
  background-color: rgb(111, 185, 0);
  justify-content: space-around;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 1;
}

#logo {
  display: flex;
  padding: 20px;
  color: rgb(0, 59, 0);
  align-items: center;
  font-weight: 700;
  width: ;
  gap: 5px;
  text-decoration: none;
  font-size: large;
  display: flex;
  margin-left: 250px;
  cursor: pointer;
}

#logo span {
  color: white;
}

#nav-logo {
  display: flex;
  margin-left: 32px;
  width: 200px;
}

h1 {
  font-size: 16px;
  letter-spacing: 3px;
}

#nav-links {
  display: flex;
  justify-content: space-between;
  margin-left: 100px;
  
}

#nav-title {
  margin-left: 30px;
}

#nav-list {
  display: flex;
  text-align: center;
  gap: 32px;
  list-style: none;
  align-items: center;
}

.nav-item {
  display: flex;
  padding: 10px;
}

.nav-item a {
  letter-spacing: 2px;
  text-decoration: none;
  color: rgb(1, 71, 1);
  font-weight: 400;
  transition: 0.3s;
  font-weight: 600;
}

.nav-item a:hover {
  color: white;
  border-bottom: 1px solid white;
}

main {
  background-color: rgb(130, 216, 0);
}

#home {
  background-color: rgb(130, 216, 0);
  padding: 100px;

}

#home h2 {
  text-align: center;
  font-size: 52px;
  text-transform: uppercase;
  font-weight: 700;
  line-height:1.2;
  letter-spacing: 3px;
  position: relative;
}

#home h2::before{
  content: '';
  width: 406px;
  height: 4px;
  background-color: white;
  position: absolute;
  bottom: 0;
}


#home h2 span {
  color: white;
}

#home p {
  color: white;
  margin-top: 60px;
  letter-spacing: 1px;
  font-weight: 200;
  font-size: 1.3rem;
  background-color: rgb(0, 149, 0);
  text-align: center;
  border-radius: 8px;
  padding: 20px;
}

#telas {
  margin-top: 10px;
  display: flex;
  gap: 20px;
  justify-content: center;
}

#urgencia {
  margin-top: 20px;
  border: 2px solid black;
  width: 40%;
  height: 20%;
  transition: 0.5s;
}

#urgencia:hover {
  width: 50%;
}

#encontro {
  margin-top:20px;
  border: 2px solid black;
  width: 46.4%;
  height: 20%;
  transition: 0.5s;
}

#encontro:hover {
  width: 55%;
}

#urgencias {
  margin-top: 100px;
}


#ramais {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 20px;
  }

#ramais h2 {
  margin-bottom: 30px;
  text-align: center;
  font-size: 52px;
  text-transform: uppercase;
  font-weight: 700;
  line-height:1.2;
  letter-spacing: 3px;
  position: relative;
}

#ramais h2::before{
  content: '';
  width: 215px;

  height: 4px;
  background-color: white;
  position: absolute;
  bottom: 0;
}

#ramal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: white;
  border: 1px solid black;
  padding: 10px;
  text-align: center;
  width: 700px;
  margin: auto;
  border-radius: 8px;
  padding: 50px;
  font-size: 32px;
  font-weight: 600;
}

#ramal a {
  text-decoration: none;
  color: greenyellow;
  transition: 0.3s;
}

#ramal a:hover {
 font-size: 40px;

}

footer {
  background-color: rgb(111, 185, 0);
  padding: 20px;
  letter-spacing: 2px;
  text-align: center;
  font-weight: 600;
}

footer span {
  color: white;
}

